<h2>Log in</h2>
<%= simple_form_for(:user, url: sessions_path, :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.input :email,:required => true, :autofocus => true %>
  <%= f.input :password, :required => true %>
  <%= f.input :remember_me, as: :boolean, input_html: { checked: true } %>
  <%= f.button :submit, 'Login', :class => 'btn-primary' %>
<% end %>

<p> <%= link_to('Forgotten passord?', new_password_reset_path) %> </p>
